#content-wrapper{

  width: 100%;
  height: 100%;
  display: flex;

}

#left-content{

  margin-top: 50px;
  flex-basis: 80%;
  flex-grow: 4;
  height: 100%;

}

#bottom-left-content{

  height: 30%;
  margin-top: 10px;

}

#top-left-content{

  width: 100%;
  height: 60%;

}

#top-left-content .tabs{

  height: 7%;

}

#code-boundary{

  background-color: #3A506B;
  width: 95%;
  height: 93%;
  border-radius: 2px;
  margin: 0 auto;
  overflow-y: scroll;
  box-shadow: 2px 2px black;

}

#card-list-boundary{

  background-color: #3A506B;
  width: 95%;
  height: 90%;
  border-radius: 2px;
  margin: 0 auto;
  box-shadow: 2px 2px black;

}

#right-content{

  margin-top: 50px;
  flex-basis: 20%;
  flex-grow: 1;

}

.code-block-unused{
  color: #2CDD3E;
  font-family: codefont;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;
  margin-left: 2px;
}

.end-code-block{

  background-color: #10C6F9;

}

.conditional-code-block{

  background-color: #7A3DB8;

}

.executable-block{

  background-color: #EDF67D;

}

.code-block-used{
  color: black;
  font-family: codefont;
  width: 250px;
  position: relative;
  margin: auto;
}

#card-list{
  width: 95%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  top: 25%;
  flex-wrap: wrap;
}

.tabs{

  display: flex;
  margin: 0 auto;
  height: 15%;
  width: 95%;
  flex-direction: row;

}

.tab{

  text-align: center;
  color: #2CDD3E;
  margin-right: 5px;
  flex-basis: 10%;
  border-radius: 2px;
  height: 100%;

}

.tab-not-selected{

  background-color: #1C2541;

}

.tab-selected{

  background-color: #3A506B;

}

.tab h3{

  font-family: codefont;
  font-size: 10px;

}

#current-code-list{
  width: 75%;
  margin: auto;
  text-align: center;
}

#export{
  display: block;
  position: relative;
  top: 60%;
  left: 10px;
  font-family: codefont;
}

#run{

  font-family: codefont;
  background-color: #2cdd3e;
  color: #038C1F;
  top: 50%;
  left: 90%;

}

#actual-code{
  background-color: black;
  width: 600px;
  height: 200px;
  font-size: 13px;
  overflow-y: scroll;
}

.code{
  color: #2CDD3E;
  position: relative;
  margin-bottom: 0;
  font-family: codefont;
}
.and-or{

  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;

}
.and-or mat-radio-button{
  padding: 5px;
}

.conditional-options{

  padding-bottom: 5px;
  border-bottom: 1px solid #1c2541;

}

.add-condition{
  margin-top: 10px;
}

.condition-label{
  display: block;
}

.further-conditions{
  position: relative;
  right: 40px;
}

.drag-code{

  border: 1px solid white;

}

