<div id="actual-code" [style.height]="200 + (realCode.length * 15) + 'px'">
    <p class="comment">// This is your block code as actual javascript code!</p>
    <p class="code" *ngFor="let line of realCode" [style.left]="(line.indentationLevel * 10) + 'px'">
      {{line.code}}
    </p>
</div>

  <div cdkDropList cdkDropListOrientation="vertical" id="current-code-list" (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="currentCode"  #yourCode="cdkDropList">
    <mat-card *ngFor="let block of currentCode; let i = index"
              cdkDrag cdkDragDisabled class="code-block-used"  [style.left]="(block.indentationLevel * 50) + 'px'">
      {{block.getLabel()}}
      <!-- If it is an if block show this: -->
      {{isConditional(block) ? block.condition.getLabel(): ''}}
      <mat-form-field appearance="fill" *ngIf="isConditional(block)">
        <mat-label>Select Condition:</mat-label>
        <mat-select [(value)]="block.condition" #condition (selectionChange)="onChangeCondition(block, condition.value, i)">
          <mat-option *ngFor="let predicate of predicates" [value]="predicate">
            {{predicate.getLabel()}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- If the block is not the when turn and end blocks -->
      <button *ngIf="!isEndBlock(block)" mat-button color="primary" (click)="onDeleteBlock(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>
  </div>


  <div cdkDropList cdkDropListOrientation="horizontal" id="card-list" (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="codeBlocks" [cdkDropListConnectedTo]="yourCode">
    <mat-card *ngFor="let block of codeBlocks" cdkDrag class="code-block-unused">{{block.getLabel()}}</mat-card>
  </div>

  <button mat-button color="primary" id="export" (click)="exportCode()">
    Export code
    <mat-icon>
      create
    </mat-icon>
  </button>

