
#background {
    background-color: #0b132b;
    height: 100%;
    overflow: auto;
}

#centerElement {
    background-color: #1c2541;
    margin: 5% auto auto auto;
    width: 25%;
    height: 50%;
}

h1 {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    font-family: Roboto;
}

hr {
    color: white;
}

#buttonSign {
    display: block;
    margin: 20% auto auto auto;
    width: 200px;
}