
<body>
    
    <div class="bigDave">
        <img class="leftElement" src="https://cdn.discordapp.com/attachments/418211897557516301/815042852493066280/latest.png" alt="this is an image">
        <div class="textBox">
            <h1>INSERT GREAT SLOGAN HERE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit in pretium nisl libero pharetra mi pellentesque euismod aliquet.</p>
            <button type="button">PLAY</button>
        </div>

    </div>
    <h1>SCRIPTING SEIGE</h1>

    <h1>OUR MISSION</h1>

    <div>
        <p>Cell1</p>
        <p>Cell2</p>
        <p>Cell3</p>
    </div>

    <h1>OUR TEAM</h1>

</body>