<body>
    <h1>SCRIPTING SEIGE</h1>

    <div class="bigDave">
        <img class="leftElement"
            src="assets/logo.png"
            alt="this is an image">
        <div class="textBox rightElement">
            <span>
                <h1>Program Your units.<br>Win the war.</h1><br>
                <p>Scripting Siege is a free educational game for both beginner and intermediate programmers</p>
                <button mat-button routerLink="./signin">> PLAY</button>
            </span>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="bigDave">
        <div class="textBox leftElement">
            <h1>Learn to Code. For Free</h1><br><br>
            <p>
                Scripting siege is a free educational game for both beginner and intermediate programmers.
                <br><br>Choose between easy to read blockcode or program your units with javascript.
            </p>
        </div>
        <img class="rightElement"
            src="assets/stockimages/code-editor-screenshot.png"
            alt="this is an image">
    </div>

    <h1>OUR MISSION</h1>

    <table id="mission">
        <tr>
            <td><div class="missioncell">
                <h2>Learn</h2>
                <p class="cellP">Understand the basics of JavaScript with Scripting seige!</p>
            </div></td>
            <td><div class="missioncell">
                <h2>Practice</h2>
                <p class="cellP">Many levels to play with!</p>
            </div></td>
            <td><div class="missioncell">
                <h2>Improve</h2>
                <p class="cellP">As your characters get smarter, so do you!</p>
            </div></td>
        </tr>
    </table>

    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <h1>OUR TEAM</h1>

    <table id="team">
        <tr class="teamrow">
            <td class="teamcol"><div class="teamcell">
                <img class="missionImg" src="assets/pfp/kd.jpg"
                    alt="this is an image">
                <p class="cellP">My name is Kyle Dulce and I am a Software Engineering Student
                    at the University of Ottawa. I have a passion for learning about software
                    development and developing software of my own.
                    <br><a href="https://www.linkedin.com/in/kyle-jacob-dulce/">My LinkedIn</a>
                    <br><a href="https://github.com/KyleDulce">My Github</a>
                </p>
            </div></td>
            <td class="teamcol"><div class="teamcell">
                <img class="missionImg" src="assets/pfp/ja.jpg"
                    alt="this is an image">
                <p class="cellP">My name is John Amiscaray, a computer science student at Ryerson University.
                  I am an aspiring software engineer always trying to perfect his skill and look for new opportunities.
                  <br><a href="https://www.linkedin.com/in/john-amiscaray-7333a91b2/">My LinkedIn</a>
                  <br><a href="https://github.com/john-amiscaray">My Github</a>
            </div></td>
            <td class="teamcol"><div class="teamcell">
                <img class="missionImg" src="assets/pfp/ha.png"
                    alt="this is an image">
                <p class="cellP">I'm Hanna Bobis and I am a Computer Science undergraduate at Ryerson University.
                    I did the art and helped with designing the webpage.
                    <br><a href="https://www.linkedin.com/in/hanna-frances-b-9a38491b5/">My LinkedIn</a>
                    <br><a href="https://github.com/Hanna-Frances">My Github</a>
                </p>
            </div></td>
        </tr>
    </table>

</body>
