<div id="backgrounddiv">
    <!--Top Profile description-->
    <section class="row">
        <!--Left Description-->
        <section class="SideCol">
            <h1>{{username}}</h1>
            <h2>{{levelStatus}}</h2>
            <div id="DescriptionBox">{{profileDescription}}</div>
        </section>
        <section class="SideCol">
            <img src="./assets/stockimages/pexels-mood-valley-4399983.jpg" alt="avatar" class="avatar">
        </section>
    </section>

    <!--Programs area-->
    <section class="verticalRow">
        <section class="verticalRowElement">
            <h1 id="ProgramLabel">Programs</h1>
            <div id="CodeArea">
                <div id="CodeSelection">
                    <div *ngIf="codes.length > 0">
                        <button mat-button *ngFor="let c of codes; let i = index " class="ProgramButton" (click)="changeSelected(i)">{{c.Name}}</button>
                    </div>
                    <div *ngIf="codes.length == 0"><button mat-button class="ProgramButton">No Programs Avaliable</button></div>
                </div>
                <!-- <section id="RightArea">
                    <h3><span *ngIf="selected < 0">No Program Selected</span><span *ngIf="selected >= 0">{{codes[selected].Name}}</span></h3>
                    <div id="DisplayArea">
                    </div>
                </section> -->
            </div>
        </section>
    </section>
</div>
