<app-pageheader></app-pageheader>
<div id="backgrounddiv">
    <!--Top Profile description-->
    <section class="row">
        <!--Left Description-->
        <section class="SideCol">
            <h1>{{username}}</h1>
            <h2>{{levelStatus}}</h2>
            <div id="DescriptionBox">{{profileDescription}}</div>
        </section>
        <section class="SideCol">
            <img src="./assets/stockimages/pexels-mood-valley-4399983.jpg" alt="avatar" class="avatar">
        </section>
    </section>

    <!--Programs area-->
    <section class="verticalRow">
        <section class="verticalRowElement">
            <h1 id="ProgramLabel">Programs</h1>
            <div id="CodeArea">
                <div id="CodeSelection">
                    test
                </div>
                <section id="RightArea">
                    <h3>test</h3>
                    <div id="DisplayArea"> test </div>
                </section>
            </div>
        </section>
    </section>
</div>