/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    max-width: 1000px;
    margin: auto; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #0b132b;
    color: #2cdd3e;
}

p {
    font-size: 20px;
}
